@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --teal-500: #12d47a;
}

* {
    font-family: 'League Spartan', sans-serif;
    ;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
    max-width: 100%;
}

body{
    background-color: #070725;
}
a:-webkit-any-link {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.title {
    width: 100%;
    padding: 0, 48px, 0, 28px;
}

.section {
    padding-top: 120px;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    overflow: hidden;
}

.navbar navbar-black bg-white fixed-top{
    padding: 0px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding-left: 3em;
    padding-right: 3em;

}

.header .logo {
    width: clamp(6.25rem, 0rem + 12.5vw, 8.5rem);
}

.header .logo:hover {
    width: clamp(6.25rem, 0rem + 12.5vw, 10rem);
}

.container-fluid{
    padding-left: 3em;
    padding-right: 3em;
}
/* NavBar Bootstrap */
.navbar-toggler{
    display: none;
}

.pc .navbar-pc{
    display: flex;
    margin: auto;
}

.nav-item{
    padding-right: 20px ;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    box-shadow: rgba(17, 17, 17, 0.667) 0px -5px 20px;
}

.pc{
    padding-right: 4vw;
}

.header .navbar a {
    transition: 0.2s;
}

.navbar a:hover {
    font-size: 25px;
}

.offcanvas-body{
    display: grid;
}


/*---------HOME----------------*/

#content{
    display: flex;
    flex-direction: row;
}

#logo{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 5vw;
}

#logo img{
    width: 80%;
    animation: zoom 5s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/*---------HOME----------------*/

/*---------PLANES----------------*/

#services {
    display: flex;
    flex-direction: column;
    
}


.btn-teal, .bg-teal{
    background-color: var(--teal-500);
    color: white;
}

.grow-on-hover {
    transition: transform 0.5s;
}

.grow-on-hover:hover {
    transform: scale(1.1);
}

.rounded-lg {
    border-radius: 1em !important;
}

.text-small {
    font-size: 0.9rem;
}

.custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}

.text-uppercase {
    letter-spacing: 0.2em;
}

/*---------/PLANES----------------*/



/*---------CONTACT **PROVISIONAL**----------------*/

#contact {
    display: flex;
    flex-direction: column;

}

#titulo-contacto p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1B1B1F;
    font-size: 5.4vw;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 70px;
}

#titulo-contacto p span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.5vw;
    color: #1B1B1F;
    text-decoration-line: overline;
    font-size: 2.7vw;
    font-family: 'Public Sans', sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 100vw;
}

.buttons a {
    text-decoration: none;
    font-size: 58px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #12d47a;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

/*---------/CONTACT----------------*/

/*---------FOOTER----------------*/
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

/*---------/FOOTER----------------*/


/*---------responsive----------------*/

@media screen and (max-width:800px){

    .pc{
        display: none;
    }

    #languagebutton{
        display:none;
    }

    .navbar-toggler{
        display: initial;
    }
}

/* pruebas */

.content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.main-content{
    color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.main-content h1{
    font-size: clamp(2rem, 1rem + 5vw, 3rem);
}

.main-content h2{
    color: #f74f10;
    font-size: clamp(2rem, 1rem + 5vw, 1.5rem);
    margin-left: 1vw;
}

.main-content p{
    margin-top: 10px;
    color: #b4b4b4;
}

.main-content .order{
    display: flex;
    margin: 20px 10px;
    width: 100%;
    justify-content: space-around;
    min-height: 7vh;
}

.order h3{
    font-size: 1.8rem;
}

.order button{
    min-width: 50%;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f74f10 40%, #8a3313) ;
    color: white;
    font-weight: 700;
    padding: 0 2px;
    font-size: clamp(0.6rem, 1rem 5vw, 3rem);
    transition: 0.1s linear;
}

.order button:hover{
    box-shadow:  0 0 30px #f74f10;
    background: linear-gradient(to bottom right, #8a3313 ,  #f74f10 40%) ;
}

.content .image img{
    max-width: 450px;
    width: 100%;
    margin-right: 100px;
    transform: rotate(40deg) translateX(900px);
    filter: drop-shadow(-10px -10px 200px #f74f10);
}