@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --teal-500: #12d47a;
}

* {
    font-family: 'League Spartan', sans-serif;
    ;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
    max-width: 100%;
}

a:-webkit-any-link {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.title {
    width: 100%;
    padding: 0, 48px, 0, 28px;
}

.section {
    padding-top: 120px;
    height: 95vh;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;

}

.header .logo {
    width: clamp(6.25rem, 0rem + 12.5vw, 9rem);
}

.header .logo:hover {
    width: clamp(6.25rem, 0rem + 12.5vw, 10rem);
}

/* NavBar Bootstrap */
.navbar-toggler{
    display: none;
}

.pc .navbar-pc{
    display: flex;
    margin: auto;
}

.nav-item{
    padding-right: 20px ;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    box-shadow: rgba(17, 17, 17, 0.667) 0px -5px 20px;
}

/* .navbar a {
    font-size: 20px;
} */
.header .navbar a {
    transition: 0.2s;
}

/* .header .navbar a:hover {
    border-bottom: 3px solid var(--main-color);
} */

/* #nav-button {
    display: none;
} */

.navbar a:hover {
    font-size: 25px;
}

.offcanvas-body{
    display: grid;
}



#home {
    display: flex;
}

/*---------HOME----------------*/

#content{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#content img{
    width: 80%;
    animation: zoom 5s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#home-text{
    text-align: center;
    padding-left: 3.5em;
    padding-right: 1em;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 5px #9faaa2;

}
#home {
    display: flex;
    align-items: center;
}
/*---------HOME----------------*/

/*---------PLANES----------------*/

#services {
    display: flex;
    flex-direction: column;
    
}


.btn-teal, .bg-teal{
    background-color: var(--teal-500);
    color: white;
}

.grow-on-hover {
    transition: transform 0.5s;
}

.grow-on-hover:hover {
    transform: scale(1.1);
}

.rounded-lg {
    border-radius: 1em !important;
}

.text-small {
    font-size: 0.9rem;
}

.custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}

.text-uppercase {
    letter-spacing: 0.2em;
}

/*---------/PLANES----------------*/



/*---------CONTACT **PROVISIONAL**----------------*/

#contact {
    display: flex;
    flex-direction: column;

}

#titulo-contacto p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1B1B1F;
    font-size: 5.4vw;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 70px;
}

#titulo-contacto p span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.5vw;
    color: #1B1B1F;
    text-decoration-line: overline;
    font-size: 2.7vw;
    font-family: 'Public Sans', sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 100vw;
}

.buttons a {
    text-decoration: none;
    font-size: 58px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #12d47a;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

/*---------/CONTACT----------------*/

/*---------FOOTER----------------*/
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

/*---------/FOOTER----------------*/


/*---------responsive----------------*/

@media screen and (max-width:800px){

    .pc{
        display: none;
    }

    #chat{
        display:none;
    }

    .navbar-toggler{
        display: initial;
    }

    /* .hide {
        display: none;
    }

    .navbar {
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;

    }

    .navbar a {
        font-size: clamp(0.8rem, 0.26rem + 2.88vw, 1.7rem);
    }



    #nav-button {
        display: block;
        background: none;
        border-radius: 5px;
    } */
}